.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 1.25rem;
  border-bottom: 2px solid black;
  background-color: blanchedalmond;

  &--hamburger {
    display: none; // Hidden on larger screens
    cursor: pointer;
    padding: 10px;
    background-color: blanchedalmond;
    font-size: 3rem;
  }

  &--title {
    font-family: "courier", "Arial Narrow", Arial, sans-serif;
    width: 70%;
    margin-left: 24px;
    font-size: 4rem;
    font-weight: 800px;
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

    .sign-on {
      text-wrap: nowrap;
      padding: 4px 8px;
      height: 42px;
      border: none;
      background-color: blanchedalmond;
      margin-right: 16px;
      font-size: 1rem;
    }
    .sign-on:hover {
      background-color: darkslategray;
      border-radius: 12px;
      color: blanchedalmond;
    }
    .sign-on:focus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 42px;
      .logon {
        display: flex;
        margin-right: 4px;
      }
    }
  }
  &--secondary-nav {
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    padding: 0px 24px;
    border-bottom: 2px solid;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
  }
  &--right {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  //   &--search{
  //     display:flex;
  //     align-items: center;
  //   }

  &--employee-nav {
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    padding: 4px 24px;
    border-bottom: 2px solid;
    background-color: darkkhaki;
  }
}
.hide-register {
  display: none;
}
.display-register {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 0 16px;

  a {
    color: black;
    padding-left: 4px;
    margin-left: 4px;
    text-decoration: none;
  }
  a:hover {
    font-size: 1.4rem;
    font-weight: 900;
  }
  a:visited {
    color: steelblue;
    font-size: 1.1rem;
    font-weight: 900;
  }
}

@media (max-width: 768px) {
  .navigation--hamburger {
    display: block; // Show hamburger menu on small screens
  }

  .navigation--buttons,
  .navigation--secondary-nav,
  .navigation--title,
  .navigation--right {
    display: none; // Hide on small screens
  }
}

.mobile-menu {
  display: none; // Hidden by default
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mobile-navigation-top {
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  align-items: center;
  width: 100%;
}

.mobile-menu button {
  margin: 10px;
  width: 200px; /* Adjust this value to change the width of the buttons */
  height: 25px; /* Adjust this value to change the height of the buttons */
  font-weight: bold; /* Makes the text on the buttons bold */
}

.mobile-menu.open {
  display: flex;
}
