.carousel {
    display:flex;
    flex: row;
    align-items: flex-end;
    padding: 8px 24px;
    overflow: hidden;
    border:none;
    width:100%;
    background-image: url("../../../../public/carousel-bg.jpeg");
    background-position: -10 80%;
    background-size: cover;
    background-repeat: no-repeat;

 

    &--image {
        margin-right:32px;
        height:100%;
        width:100%;
        min-width: 200px;
        max-width:250px;
    }
    &--text{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background-color: rgba(250,235,215,.6);
        padding: 0 16px 16px;
        margin-right: 16px;
        border-radius: 16px 16px 0 0;
        font-weight: 500;

        &__description{
            overflow: hidden;
            display:block;
            text-align: left;
            font-weight: 600;
            text-overflow: ellipsis;
            max-height: 225px;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
        }
    }
    &--actions{
        display: flex;
        flex-direction: row;
        gap:16px;
        margin-top: 16px;
        font-weight: 600;

    }
}

@media (max-width: 768px) {
    .carousel {
        flex-direction:column;
        align-items: center;
        padding: 10px 10px;

        &--image {
            margin-right:0;
            margin-bottom: 16px;
        }
        &--text {
            align-items: center;
        }
    }
}