html {
    overflow-y: hidden;
    min-height: 800px;
}
body {
    overflow: hidden;
    min-height: 800px;
}
.carousel{
    height:350px;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:8px 24px 0 ;
}
.body-content{
    margin: 16px 24px;
}
.HomePage {
    position: relative;
  
    .employee-login-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
  
      .employee-login {
        padding: 10px;
        border-radius: 5px;
  
        h4 {
          margin: 0;
          font-size: 18px;
        }
      }
  
      .employee-login-button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }