html {
    overflow-y: hidden;
    min-height: 800px;
}
body {
    overflow:auto;
    background-color: darkslategray;
}
.carousel-container{
    height:400px;
    overflow: hidden;
    margin:0;
}
.body-content{
    margin: 16px 24px ;

}

