html {
    font-size: 80%;
  }

.add-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:none;
    }
  
    .add-container {
      font-family: "Courier New", Courier, monospace;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
      padding:12px 24px;
      z-index: 10;
      border-radius: 10px;
      background-color: blanchedalmond;
      margin:24px auto;
    }
    .add-book {
        margin: 20px 20px;
        font-family: "Courier New", Courier, monospace;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 25px;
      }