.book-background{
    background-image: url("../../../../public/open-book.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: 0 30%;
    width:100%;
    height:100%;
    overflow: auto;
}
.book-container{
    padding:16px 48px 0 48px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.book {
    &--image {
        margin-right:32px;
        height:100%;
        width:100%;
        min-width: 200px;
        max-width:250px;
    }
    &--text{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background-color: antiquewhite;
        opacity: 0.6;
        padding: 0 16px 16px;
        margin-right: 16px;
        border-radius: 16px 16px 0 0;
        font-weight: 500;

        &__description{
            overflow: hidden;
            display:block;
            text-align: left;
            font-weight: 600;
        }
    }
}
