.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  
}

.form-container {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding:12px 24px;
  z-index: 10;
  border-radius: 10px;
  background-color: rgb(200, 181, 153);
  margin:24px auto;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: fit-content;
  padding: 24px;
}
input {
  margin: 4px 8px;
  font-family: "Courier New", Courier, monospace;
}
.success {
  color: green;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.register-form label.inputs{
  font-weight: 600;
  width: 100%;
}

.register-form button.signup-button {
  font-weight: 500;
  margin: 4px 8px;
}

p.signupMsg{
  font-size: 24px;
  
}

.name-container {
  display: flex;
  gap: 10px;
}

div.error{
  font-size: 15px;
}
