.hide-logon{
    display:none;
}
.form-container-sign-on{
    position: absolute;
    top: 102px;
    right: 0;
    padding:16px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: darkslategray;
    z-index: 1;
    border-radius: 0 0 0 8px;
    
}
.logon-form{
    display:flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width:fit-content;
    z-index: inherit;
    margin:0;
}
input{
    margin:0 2px;
    font-family: 'Courier New', Courier, monospace;
}
.error {
    color:red;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
