.tile {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:0 16px;
    margin-bottom: 12px;
    overflow: hidden;
    border:1px solid;
    height:220px;
    width: 340px;
    background-color: rgb(200, 181, 153);

    border-radius: 12px;

    &--image {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &--text{
        color:black;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin:0 16px;

        &__description{
            overflow: hidden;
            display:block;
            text-overflow: ellipsis;
            max-height: 65px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &__actions{
            margin-top:8px;
            
        }
        &__info{
            margin-right:12px;
        }
    }
}
