.verification {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  margin: 16px 24px;
  padding: 16px;

  &--inner-container {
    background-color: rgb(200, 181, 153);
    border-radius: 12px;
    width: max-content;
    padding: 24px;
  }
}
